[server]
DOMAIN = {{ forgejo_domain }}
ROOT_URL = http://{{ forgejo_domain }}:3000/
HTTP_PORT = 3000

[database]
DB_TYPE = mysql
HOST = {{ db_host }}:3306
NAME = forgejo
USER = forgejo
PASSWD = {{ db_password }}
SSL_MODE = disable

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ forgejo_secret_key }}

[repository]
ROOT = /var/lib/forgejo/data/git/repositories
